<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        {% import 'base/components/card.html' as card %}

        {% include 'base/header.html' %}
        {% block content %}{% endblock %}
        {% include 'base/footer.html' %}

        <script type='module' src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body>
</html>