@use "../../node_modules/bootstrap/scss/bootstrap" as * with (
  $primary: #6c5ce7
);

body {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;

    main {
        padding: 20px;
    }
    header {
        background-color: #f8f9fa;
        padding: 10px 20px;
        border-bottom: 1px solid #dee2e6;
    }
    footer {
        background-color: #f8f9fa;
        padding: 10px 20px;
        border-top: 1px solid #dee2e6;
        text-align: center;
    }
}